{
    "useTabs": false,
    "tabWidth": 4,
    "semi": true,
    "arrowParens": "always",
    "bracketSpacing": true,
    "quoteProps": "as-needed",
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "plugins": ["prettier-plugin-svelte"],
    "pluginSearchDirs": ["."],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ]
}
